language: ruby
rvm:
  - 2.6.3

script: bundle exec jekyll build && eval "$(ssh-agent -s)" && echo $SCP_SECRET | base64 -d > /tmp/id_rsa && chmod 600 /tmp/id_rsa && scp -i /tmp/id_rsa -r _site akkarepo@gustav.akka.io:/tmp/_site

branches:
  only:
  - master
  - travis

cache: bundler
