{% include topbar.html %}
<div class="main home-header">
	<div class="container rel">
		<div class="row rel">
			<div class="span8 offset2 hometop">
				<div class="logo"><img src="{{ site.baseurl }}/resources/images/logo_dropshadow.png"/></div>
				<div class="box">Build powerful concurrent & distributed applications more easily.</div>
				<div class="small-box">Akka is a toolkit and runtime for building highly concurrent, distributed, and fault tolerant event-driven applications on the JVM.</div>
				<div class="getting-started">
					<a href="{{ site.baseurl }}/activator" class="big-button">Getting started</a>
					<p>With Typesafe Activator</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="feature-strip">

</div>

<div class="light-strip under-main">

</div>

<div class="darker-strip">
</div>
