---
---
body { background: #24333F; }
p { font-size: 14px; }
a { color: #447281; }
a:hover { color: #73a600; text-decoration: none; }
hr { margin: 20px 0;border: none; height: 1px; background: rgba(0,0,0,.1); }
.navbar { position: relative; z-index: 150; margin-bottom: 0px; }
.navbar .nav { float: right; }
.navbar-logo { visibility: hidden; margin-bottom: -31px; }
.top-bar { background: #0d262b url('{{ site.baseurl }}/resources/images/top-bar-bg.gif') repeat-x; height: 40px; }
.top-menu { margin-top: 10px; padding:0; float: right; }
.top-menu li { display:inline; padding: 0px 10px 0px; margin:0; color: rgba(255, 255, 255, 0.8); text-shadow:0 1px 0 #000000; font-size: 14px; font-weight: 500;}
.top-menu li a { color: #ffffff; font-weight: 500; font-weight: 500;} /*{ color: rgba(0, 0, 0, 1); font-weight: 500; text-shadow:0 1px 0 rgba(255, 255, 255, .1); font-weight: 500;}*/
.top-menu li a:hover { color: #82bc00; text-shadow: 0 1px 0 #000000; font-weight: 500; text-decoration: none;	}
.logo { margin-top: 30px; margin-bottom: 30px;}
.home-header { padding: 30px 0 80px; }
.news-banner { height: 30px; background: rgba(130, 188, 0, 0.2); margin-top: -20px; margin-bottom: 10px;}
.rel { position: relative; }
.hometop {text-align: center;color: #98D7E6;}
.feature-strip {background: #98D7E7;color:#097690;overflow: hidden;text-align: center;}
.feature-strip .span4 {width: 290px; padding-top: 120px;}
.feature-strip h2 {color: #243340;font-weight: bold;font-size: 20px;line-height: 23px;margin-bottom: 8px;}
.box { font-size: 30px; font-weight: 400; color: rgba(255, 255, 255, 1); text-shadow:0 2px 0 #000000; line-height: 38px; margin-bottom: 20px;}
.small-box { font-size: 16px; line-height: 20px; font-weight: 300; color: #98D7E6; text-shadow:0 2px 0 #0d262b;margin: 0 100px;}
.bold { font-weight: 600; }
.light-strip { background: #f2f2eb; min-height: 200px;}
.under-main { background: #f2f2eb; }
.darker-strip { background: #dfdfd9; min-height: 200px;}
.under-light-strip { background: #f2f2eb url('{{ site.baseurl }}/resources/images/bottom-light-strip-bg.png') repeat-x; height: 7px; }
.pad { padding-top: 40px; }
.normal { margin-left: 0px; padding-bottom: 30px;}
.normal h3 { color: #326a78; font-size: 22px; font-weight: 400; padding-bottom: 12px;} /*#595050, green: rgba( 44, 166, 33, 0.3)*/
.no-margin { position: relative; margin-left: 0px; width: 460px; margin-right: 10px;}
.left p { margin-right: 30px; margin-top: 30px; }
.right p { margin-left: 30px; margin-top: 30px; }
hr { border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(89,80,80,.3), rgba(0,0,0,0)); background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(89,80,80,.3), rgba(0,0,0,0)); background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(89,80,80,.3), rgba(0,0,0,0)); background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(89,80,80,.3), rgba(0,0,0,0)); }
.slide { margin-top: 26px; overflow: hidden; z-index: 1; width: 460px; position: relative; background: #fefbf3; border: 1px solid rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1); box-shadow: 0 1px 2px rgba(0,0,0,.1); -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.slide .java { z-index: 10; position: absolute; left: 0px; width: 460px; }
.slide .scala { position: absolute; z-index: 11; width: 460px; background: #fefbf3; }
pre { border: 0px solid #333; background-color: transparent;}
.tab-scala { position: absolute; top: 0px; left: 0px; width: 60px; height: 30px; padding: 6px; background: #fefbf3; border: 1px solid rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1); box-shadow: 0 1px 2px rgba(0,0,0,.1); -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.tab-scala-fix { position: absolute; left: 1px; top: 26px; z-index: 12; width: 72px; height: 2px; background: url('{{ site.baseurl }}/resources/images/tabfix.gif'); }
.java-toggle { position: absolute; top: 0px; left: 76px; padding: 6px; font-weight: bold; color: rgba(89, 80, 80, 0.6); text-shadow:0 1px 0 #ffffff; }
.tab-java { position: absolute; z-index: 1; top: 50px; left: 461px; width: 60px; height: 30px; padding: 6px; background: #fefbf3; border: 1px solid rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1); box-shadow: 0 1px 2px rgba(0,0,0,.1); -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; font-weight: bold; }
.tab-java-fix { position: absolute; left: 462px; top: 26px; z-index: 12; width: 72px; height: 2px; background: url('{{ site.baseurl }}/resources/images/tabfix.gif'); }
.used-by h2 { 	 font-size: 32px; font-weight: 400; color: #595959; line-height: 34px; margin-bottom: 12px; } /*gray: 595959, green: 49bf00*/
.used-by-header { background: url('{{ site.baseurl }}/resources/images/used-by-bg.png') 0 7px repeat-x; text-align: center; }
.used-by-header .text { display: inline-block; padding: 0 20px; background: #dfdfd9; font-weight: bold; color: rgba(88, 111, 117, 0.8);}
.used-by-logos { text-align: center; /*white-space: nowrap;*/ } 
.used-by-logos img { margin: 8px 8px;}
.between-dark-strips { background: url('{{ site.baseurl }}/resources/images/between-dark-strips-bg.gif') repeat-x; height: 3px; margin-bottom: 20px; }
.three-bars { padding-bottom: 30px; }
.three-bars h2 { 	 font-size: 28px; font-weight: 400; color: #595959; line-height: 30px; margin-bottom: 8px; }
.three-bars h2 a { color: #595959; }
.three-bars h2 a:hover { color: #73a600; text-decoration: none; }
.tweets { position: relative; }
.tweet { position: relative; }
.tweets img { margin-left: -14px; }
.tweet .text { background: rgba(0, 26, 30, 0.7); color: rgba(255, 255, 255, 1); padding: 10px; margin-bottom: 5px; line-height: 1.2em; word-wrap: break-word !important; display: block; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.tweet .text a { color: #a4cc47; }
.tweet .text a:hover { color: #8ad3e5; text-decoration: none;}
.username { position: relative; top: -20px; left: 30px; color: #888;}
.username a { color: #235561; font-weight: bold; text-decoration: none; }
.username a:hover { color: #4ba11d; }
.time { display: block; position: relative; line-height: 0px; top: -16px; left: 64px; font-size: 80%; }
.time a { color: #888; white-space: nowrap; text-decoration: none; }
.triangle { position: relative; bottom: 9px; left: 40px; height: 0px; width: 1px; margin-left: auto; margin-right: auto; border-top: 16px solid rgba(0, 30, 30, 0.7); border-left: none; border-right: 16px solid transparent; border-bottom: none; }
.feed-entries { margin-left: 0px; }
.feed-entry { position: relative; margin-bottom: 18px; }
.feed-date { float: left; height: 100%; margin-right: 14px; height: 100%;}
.feed-month { color: #447281; font-size: 18px; font-weight: bold; text-transform:uppercase;}
.feed-day { background: #73a600; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; color: #dfdfd9; font-weight: bold; font-size: 24px; text-align: center; line-height: 26px;}
.feed-year { color: #447281; font-size: 16px; font-weight: bold; }
.feed-title { 	 font-size: 18px; font-weight: 400; line-height: 20px; }
.feed-title a { color: #689700; /*text-shadow:1px 1px 0 rgba(255, 255, 255, 0.6)*/ }
.feed-title a:hover { color: #447281; text-decoration: none; }
.feed-author { font-size: 11px; color: #888888;}
.feed-body { margin-bottom: 14px;}
.news-item { margin-bottom: 14px;}
.news-date { display: inline; 	 font-size: 14px; font-weight: 500; line-height: 16px; color: #73a600; }
.news-author { 	 font-size: 12px; font-weight: 500; line-height: 15px; color: #447281; }
.news-title { 	 font-size: 18px; font-weight: 400; line-height: 20px; margin-bottom: 4px;}
.news-title a { color: #447281; /*text-shadow:1px 1px 0 rgba(255, 255, 255, 0.6)*/ }
.news-title a:hover { color: #73a600; text-decoration: none; }
.rss-icon { float: right; padding-right: 10px; }
.footer { padding-top: 15px; clear: both; background: #24333F; width: 100%; color: rgba(255, 255, 255, 0.6); }	
.footer ul { float: left; margin: 0; padding: 10px 2% 20px 0; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; width: 22%; list-style: none; }
.footer a {text-decoration: none;color: rgba(255, 255, 255, 0.7);font-size: 12px;}
.footer a:hover {text-decoration: underline;}
.footer ul:last-child { padding-right: 0; }
.footer ul li a { text-decoration: none; color: rgba(255, 255, 255, 0.7); font-size: 12px; }
.footer ul li a:hover { text-decoration: underline; }
.footer ul li h5 { color: rgba(255, 255, 255, 0.8); margin-bottom: 10px; padding-bottom: 10px; line-height: 20px; border-bottom:1px solid rgba(103, 103, 103, 0.3); -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5); -moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5); box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);	}
.footer ul li h5 a { font-size: 14px;opacity: 1;}
.footer .copyright { font-size: 12px; border-top:1px solid rgba(103, 103, 103, 0.5); clear: both; padding: 10px 0 20px; }
.footer .license { float: right; font-size: 12px; }
a:hover.selected { color: red; }
.panel p { margin-bottom: 22px; }
.panel h2 { color: #326A78;  font-size: 22px; font-weight: 400;}
.language-header { width: 940px;}
.scala-header {float: left; width: 460px;}
.java-header a {float: right; width: 480px; font-size: 16px; font-weight: bold; color: rgba(0, 0, 0, 0.6); text-shadow: 0 1px 0 white;} 
.java-header a:hover { text-decoration: none; color: #447281; }
#slider { margin: 0 auto; position: relative; }
.breadcrumb {background: #243340; color: #F2F2EB;position: relative; z-index: 10;margin: 10px 0 30px;}
.breadcrumb li a { font-size: 18px; font-weight: 700; color: #ffffff; width: 250px; } 
.breadcrumb li a:hover { text-decoration: none; color: #ffffff; }
.selected-arrow { position: relative; background: url('{{ site.baseurl }}/resources/images/arrow.png') no-repeat; height: 18px; width: 32px; margin-top: -1px; z-index: 10; margin-left: 205px;}
.breadcrumb li a.selected { background: #508A98;position: relative;top: -10px;padding: 20px 0;margin: 0 0 -34px; }
.breadcrumb li a.selected:after { top: 100%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-top-color: #508A98;border-width: 10px;left: 50%;margin-left: -10px;}
.scroll { overflow: auto; position: relative; /* fix for IE to respect overflow */ clear: left; }
.scrollContainer div.panel { padding: 20px; padding-top: 0px; width: 900px; }
.scrollButtons { position: absolute; top: 150px; cursor: pointer; }
.scrollButtons.left { left: -20px; }
.scrollButtons.right { right: -20px; }
.scala-codebox { float: left; width: 440px; /*padding-bottom: 20px;*/ background: #fefbf3; border: 1px solid rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1); box-shadow: 0 1px 2px rgba(0,0,0,.1); -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.java-codebox { float: right; width: 440px; /*padding-bottom: 20px;*/ background: #fefbf3; border: 1px solid rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1); box-shadow: 0 1px 2px rgba(0,0,0,.1); -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.pre { padding: 1px 2px; color: #5d8700; background-color: #f3f7e9; border: 1px solid #dee1e2; font-family: Menlo, Monaco, "Courier New", monospace; font-size: 12px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
pre { overflow: auto; }
pre.prettyprint { margin-bottom: 0px; }
code { padding: 1px 2px; color: #5d8700; background-color: #f3f7e9; border: 1px solid #dee1e2; font-family: Menlo, Monaco, "Courier New", monospace; font-size: 12px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.getting-started {margin: 20px;color: #6F8BA2;}
.getting-started p {font-weight: 100;font-size: 11px;}
.getting-started .big-button {display:block; height: 50px;line-height:50px;width: 280px;background: #FFB34F;color: #24333F;margin: 0 auto 4px;font-size: 18px;font-weight:bold;text-transform: uppercase;}
.getting-started .big-button:hover {background: #FBA636;}


